.btn {
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 20px;
	}
	
.el-table {
		border: 1px solid #dfe6ec;
	}
	
.block {
		text-align: center;
		margin-top: 1vw;
	}
    
.box {
    margin-right: 20px;
}

.submit {
		margin-top: 1vw;
		text-align: right;
	}