.handle-box {
	display: flex;
	background: #f0f0f0;
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 5px;
}

.btn {
	margin: 5px;
}

.el-table {
	border: 1px solid #dfe6ec;
	border-radius: 5px;
}

.block {
	text-align: center;
	margin-top: 1vw;
}

.box {
	margin-right: 20px;
}

.submit {
	margin-top: 1vw;
	text-align: right;
}